<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sitemap>
            <storyblok>
                <priority>0.25</priority>
                <changefreq>daily</changefreq>
            </storyblok>
        </sitemap>
        <storyblok>
            <dev>
                <enabled_debug_request>1</enabled_debug_request>
            </dev>
        </storyblok>
    </default>
</config>
